@font-face {
    font-family: 'belligerent_madnessregular';
    src: url('../font/belligerent-webfont.woff2') format('woff2'),
         url('../font/belligerent-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face  {
    font-family: 'noto_sansregular';
    src: url('../font/notosans-regular-webfont.woff2') format('woff2'),
         url('../font/notosans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'noto_sansregular', Arial, Helvetica, sans-serif;
}
/*Header*/
.name {
    font-size: 2.8em;
}
.navbar-brand {
    display: flex;
    font-family: 'belligerent_madnessregular', Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 520px) {
    .name {
        font-size: 1.8em;
    }
    .logo {
        width: 80px;
        height: 80px;
    }
    .name-brand {
        width: 130px;
    }
}
.navbar .navbar-collapse {
    text-align: center;
}
.navbar-nav {
    font-size: 1.3em;
}
.navbar {
    justify-content: space-evenly;
}
h3 {
    font-size: 1.2em;
}

/*Title page*/
.title-page {
    height: 90px;
    justify-content: center;
}

/*Cards*/
.margin {
    margin-bottom: 20px;
}
.top {
    margin-top: 20px;
}
.picture1 {
    height: 400px;
    background: url(../images/oak_1.jpg) center center;
    background-size: cover;
}
.picture2 {
    height: 400px;
    background: url(../images/oak_2.jpg) center center;
    background-size: cover;
}
.picture3 {
    height: 400px;
    background: url(../images/oak_3.jpg) center center;
    background-size: cover;
}
.picture4 {
    height: 400px;
    background: url(../images/oak_4.jpg) center center;
    background-size: cover;
}
.picture5 {
    height: 400px;
    background: url(../images/oak_5.jpg) center center;
    background-size: cover;
}

.information {
    padding-top: 1em;
    padding-bottom: 1em;
}

/*Footer*/
.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 1.2em;
}
a {
    color: black;
}
ul {
    padding-inline-start: 0px;
}
@media screen and (max-width: 760px) {
    .footer-item {
        margin-bottom: 18px;
    }
}

/*Page Produit*/
#color {
    width: 80px;
    height: 30px;
    border: 1px solid black;
    float: center;
}
#quantity {
    width: 60px;
    height: 30px;
    border: 1px solid black;
    float: center;
}
@media screen and (max-width: 760px) {
    .price {
        font-size: 2.8em;
    }
}

/*Shopping cart*/
.title-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    padding-top: 20px;
    font-weight: bolder;
    border-top: 0.01rem solid #d1d1e0;
    border-bottom: 0.15rem solid #d1d1e0;
}
.product-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.product {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 0.25rem solid #d1d1e0;
}
.form-title {
    margin-top: 50px;
}