/*Header*/
.name {
    font-size: 2.5em;
}
    @media screen and (max-width: 520px)
{
    .name {
        font-size: 2em;
    }
    .logo {
        width: 80px;
        height: 80px;
    }
    .name-brand {
        width: 130px;
    }
}
.navbar .navbar-collapse {
    text-align: center;
}
.navbar-nav {
    font-size: 1.3em;
}
.navbar {
    justify-content: space-evenly;
}

h3 {
    font-size: 1.2em;
}

/*Cards*/
.margin {
    margin-bottom: 20px;
}
.top {
    margin-top: 20px;
}
.picture1 {
    height: 400px;
    background: url(images/oak_1.jpg) center center;
    background-size: cover;
}
.picture2 {
    height: 400px;
    background: url(images/oak_2.jpg) center center;
    background-size: cover;
}
.picture3 {
    height: 400px;
    background: url(images/oak_3.jpg) center center;
    background-size: cover;
}
.picture4 {
    height: 400px;
    background: url(images/oak_4.jpg) center center;
    background-size: cover;
}
.picture5 {
    height: 400px;
    background: url(images/oak_5.jpg) center center;
    background-size: cover;
}

.information {
    padding-top: 1em;
    padding-bottom: 1em;
}

/*Footer*/
.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 1.2em;
}
a {
    color: black;
}
ul {
    padding-inline-start: 0px;
}

/*Page Produit*/
.minus-button {  
    width: 50px; 
    height: 20px;
    border: 1px solid black;
}
#color {
    width: 80px;
    height: 30px;
    border: 1px solid black;
    float: center;
}
#quantity {
    width: 60px;
    height: 30px;
    border: 1px solid black;
    float: center;
}
.product-card {
    height: 200px;
    text-align: center;
}