/*Header*/
.name {
    font-size: 2.5em;
}
    @media screen and (max-width: 520px)
{
    .name {
        font-size: 1.7em;
    }
    .logo {
        width: 60px;
        height: 60px;
    }

}
.navbar .navbar-collapse {
    text-align: center;
}
.navbar-nav {
    font-size: 1.3em;
}
h3 {
    font-size: 1.2em;
}
/*Cards*/
.picture {
    width: auto;
    height: auto;
}
.card {
    margin-top: 20px;
    margin-bottom: 20px;
}

.information {
    padding-top: 1em;
    padding-bottom: 1em;

}

/*Footer*/
.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 1.2em;
}
a {
    color: black;
}
ul {
    padding-inline-start: 0px;
}